*{
	box-sizing: border-box;
}
body{
	background-color: pink
}
header{
	text-align: center;
}
.sub-menue{
	background-color: blue;
	border: solid 2px red;
	width: 30%;
	float:left;
	padding: 15px 10px 5px 10px;
	margin-left: 20px;
	position: relative;
}
.inner-heading{
	background-color: cornsilk;
	border: solid 2px black;
	padding: 5px;
	width: 100px;
	position: absolute;
	
}